# Ignore this host's user home artifacts
.cache/
.ssh/
.sudo_as_admin_successful
.bash_logout
.bashrc
.profile

# General
*.log
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# App runtime
data/
